@model ProductUpdateDto
@{
    ViewData["Title"] = "Update";
    Layout = "_AdminLayout";
}
<div class="container mt-4 w-50">
    <h1>Ürün Update Formu</h1>
    <form asp-action="Update" asp-controller="Product" asp-area="Admin" method="post" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="All"></div>
        <input type="hidden" asp-for="@Model.ProductId" />
        <div class="form-group mb-2">
            <label for="productName">Ürün İsmi</label>
            <input type="text" class="form-control" asp-for="@Model.ProductName" placeholder="Ürün İsmi">
        </div>

        <div class="form-group mb-2">
            <label for="productName">Summary</label>
            <input type="text" class="form-control" asp-for="@Model.Summary" placeholder="Ürün İsmi">
        </div>
        <div class="form-group mb-2">
            <img class="img-fluid rounded shadow" src="@Model.ImagePath">
        </div>

        <div class="form-group mb-2">
            <label for="productName">Image</label>
            <input type="file" name="file" class="form-control" asp-for="@Model.ImagePath" placeholder="Ürün İsmi">
        </div>

        <div class="form-group mb-2">
            <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.Categories">
                <option value="">Select Category</option>
            </select>
        </div>
        <div class="form-group mb-2">
            <label for="productPrice">Ürün Fiyatı</label>
            <input type="number" class="form-control" asp-for="@Model.Price" placeholder="Ürün Fiyatı">
        </div>
        <button type="submit" class="btn btn-primary float-right">Güncelle</button>
    </form>
</div>
